// Colors
$dark-color: #303030;
$dark-color-tint2: #686a6a;
$grey-color: #a6a8a9;
$white-color: #f5f7f8;
$text-color: #0c0f0a;
$green-color: #348c5a;

// Font and Typography 
$heading: 'Roboto', sans-serif;
$paragraph: 'Gowun Dodum', sans-serif;
$h1-font: 3rem;
$h2-font: 2rem;
$normal-font: 1rem;
$small-font: 0.8rem;
$medium-fw: 500;
$bold-fw: 700;

// Margin
$margin-1: 1rem;
$margin-2: 2rem;
$margin-3: 3rem;
$margin-4: 4rem;

// Spacing
$letter-spacing: 1.2px;
$line-height: 1.5;

$header-height: 3rem;