@import '../base';
@import '../components/mixins';

.button {
    display: inline-block;
    background-color: $dark-color-tint2;
    color: $white-color;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-weight: $bold-fw;
    transition: .4s;

    &:hover {
        background-color: $dark-color;
    }

    &-link {
        background: none;
        padding: 0;
        color: $white-color;

        &:hover {
            background: transparent;
        }
    }
}

.featured {
    &__button {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        font-size: 1.25rem;
        padding: .4rem .8rem;
        border-radius: 1rem 0 1rem 0;
    }
}